* {
  box-sizing: border-box;
}
        
body {
    margin: 0;
    padding: 0;
    background-size: cover;
    color: #212121;
	background: #0f2439;
    overflow-x: hidden;
}

div.container {
    margin-top: 10px;
	margin-bottom: 10px;
	background: rgba(206,212,218,0.65);
    padding: 0;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

div.container, footer {
	margin-inline: 5vw;
}

a#desktop {
	display: none;
	color: #212121;
}

a#mobile {
	padding: 10px;
	display: block;
	color: #d0d5da;
	position: absolute;
	top: 0;
}
	
@media screen and (min-width: 767px) {
	div.container, footer { margin-inline: 10vw; }
	div.container { padding: 10px 1em; }
	a#desktop { display: block; }
	a#mobile { display: none; }
	h1 { margin: 0.5em; }
	.container { padding: 24px; }
}

h1 {
	margin: 0.25em;
	padding: 0.5em;
	text-align: center;
	font-family: Candara, Helvetica, Arial;
	font-size: 30pt;
	color: #d0d5da;
}

h2 {
	text-align: left;
	padding-left: 10px;
	font-family: Candara, Helvetica, Arial;
	color: black;
}
	
h3{
	text-align: left;
	padding-left: 10px;
	font-size: 20;
	font-family: Helvetica, Arial;
}

article {
	padding: 3px;
	margin-bottom: 10px;
	border-width: medium;
	border-color: White;
	border-radius: 7px;
	border-style: solid;
}

@media screen and (min-width: 767px) {
	article {
		margin: 10px;
	}
}

div.inner {
	display: inline-grid;
	grid-template-columns: 1.7fr 0.2fr;
	background: rgba(255,255,255,0.6);
	border-radius: 3px;
}

div.row {
	display: -webkit-flex;
	display: flex;
}

section.text {
	padding: 10px;
}

.text h2 {
	color: #525456;
}

.text h3, p {
	color: #686a6d;
}

section.image {
	display: flex;
	padding: 10px;
	align-items: center;
	justify-content: center;
	grid-row-start: 2;
	grid-column-start: 1;
	grid-column-end: 3;
}

.image img {
	width: 75vw;
}

#a {
	display: none;
}
#b {
	display: block;
	grid-column-start: 1;
	grid-column-end: 3;
}
#c {
	grid-column-start: 1;
	grid-column-end: 3;
}

@media screen and (min-width: 1000px) {
	#c {
		grid-column-start: 1;
		grid-column-end: 2;
	}
	section.image {
		grid-row-start: 1;
		grid-column-start: 2;
	}
	.image img {
		width: 30vw;
	}
}

@media screen and (min-width: 1060px) {
	#a {
		display: block;
	}
	#b {
		display: none;
	}
}

p {
	padding-left: 10px;
	font-family: Helvetica;
}

a {
    font-family: Helvetica;
	color: #212121;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom:16px;
}

.btn {
    display: block;
    text-align: center;
    padding: 16px;
    background:#34C0D9;
    color: #0b4051;
    font-family: JMHEspinosa;
    font-weight: 600;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1.2rem;
    transition: background 0.2s ease;
}

.btnSecondary {
    display: block;
    text-align: center;
    padding: 16px;
    border-color: #dbb043;
    border-style: solid;
    border-width: medium;
    background: RGBA(255, 255, 255, 0.25);
    color: #30304A;
    font-family: JMHEspinosa;
    font-weight: 600;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1.2rem;
    transition: background 0.2s ease;
}

.btn:hover {
    background: #219AB0;
}

.btnSecondary:hover {
    background: #dbb043;
    border-color: #b88a12;
}

footer {
    font-size:1rem;
	background: rgba(222,216,216,0.65);
	padding: 1px;
	margin-top: 10px;
	text-align: center;
	border-radius: 10px;
}
