* {
  box-sizing: border-box;
}
        
body {
    margin: 0;
    padding: 0;
    background-size: cover;
    color: #212121;
	background: #0f2439;
    overflow-x: hidden;
	font-family: Helvetica, Arial;
}

/*div.title {
	background-image: url('fancy_border_1.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 300px;
	height: 115px;
}

div.title h1 {
	padding-top: 30px;
	color: #faf8f8;
}*/

.main {
	margin-inline: 5vw;
}

div.container {
    margin-top: 10px;
	margin-bottom: 10px;
	background: rgba(206,212,218,0.65);
    padding: 0;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

article {
	padding: 3px;
	margin-bottom: 10px;
	border-width: medium;
	border-color: White;
	border-radius: 7px;
	border-style: solid;
}

div.inner {
	background: rgba(255,255,255,0.6);
	border-radius: 3px;
	display: inline-grid;
}


/* Adjust layout for desktop */
	a.desktop {
		display: none;
		color: #212121;
		padding: 10px;
	}

	a.mobile {
		padding: 10px;
		display: block;
		color: #4f5f6f;
		position: absolute;
		top: 0;
	}
	
	@media screen and (min-width: 767px) {
		.main { margin-inline: 10vw; }
		a.desktop { display: block; }
		a.mobile { display: none; }
		.title h1 { margin: 0.5em; }
		article { margin: 10px; }
		div.container { padding: 10px; }
	}


/* Sections within articles */
	section.text {
		padding: 10px;
	}

	section.text h2 {
		color: #525456;
	}

	section.text h3, p {
		color: #686a6d;
	}

	section.text img {
		margin: 15px;
		padding: 2px;
		border-style: solid;
		border-color: #a1a4a8;
		border-width: 2px;
		border-radius: 3px;
	}
	
	.center {
		display: flex;
		justify-content: center;
	}
	

/* Adjust content based on device size */
	.desktop {
		display: none;
	}
	
	.mobile {
		display: block;
	}

	.mobile img {
		margin: 5px;
		width: 75vw;
	}
	
	@media screen and (min-width: 767px) {
		.mobile img { width: 65vw; }
	}

	@media screen and (min-width: 880px) {
		.mobile img { width: 60vw; }
	}

	@media screen and (min-width: 992px) {
		.desktop { display: block; }
		.mobile { display: none; }
		section.text img { width: 35vw; float: right; }
	}


/* Form */
	form {
		padding: 10px;
		margin-top: 0vh;
		margin-inline: 5vw;
		border-style: solid;
		border-width: 2px;
		border-radius: 5px;
		border-color: #8b96a2;
		background-color: #c2c8cf;
	}

	.formMobile {
		display: block;
	}
		
	.formDesktop {
		display: none;
	}
	
	@media screen and (min-width: 540px) {
		.formMobile {
			display: none;
		}
		
		.formDesktop {
			display: block;
		}
		
		form { float: right; }
	}
	
	@media screen and (min-width: 767px) {
		form {
			margin-inline: 10vw;
			margin-top: -5vh;
			float: right;
		}
	}
	
	label {
		color: #525456;
		font-family: Helvetica, Arial;
	}
	
	input, textarea {
		margin-bottom: 10px;
		color: #525456;
		font-family: Helvetica, Arial;
		font-size: 10pt;
		background-color: #EBEBEB;
		border: none;
		border-radius: 3px;
		resize: vertical;
	}
	
	input[type=submit] {
		padding: 5px;
		font-family: Helvetica, Arial;
		font-weight: bold;
		border-style: solid;
		border-width: 1px;
		border-color: #525456;
	}

	input[type=submit]:hover {
		background-color: #525456;
		color: rgb(250,250,250);
		cursor: pointer;
	}
	
	input[type=submit]:active {
		background-color: rgb(250,250,250);
		color: #525456;
		cursor: pointer;
	}
	
	
p {
	padding-left: 10px;
	font-family: Helvetica;
}

a {
    font-family: Helvetica;
	color: #212121;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	margin: 0.25em;
	padding: 0.5em;
	text-align: center;
	font-family: Candara, Helvetica, Arial;
	font-size: 30pt;
	color: #d0d5da;
}

h2 {
	text-align: left;
	padding-left: 10px;
	font-family: Candara, Helvetica, Arial;
	color: black;
}
	
h3{
	text-align: left;
	padding-left: 10px;
	font-size: 20;
	font-family: Helvetica, Arial;
}

footer {
    font-size:1rem;
	background: rgba(222,216,216,0.65);
	padding: 1px;
	margin-top: 10px;
	text-align: center;
	border-radius: 10px;
}

button {
    width: 60px;
    height: 25px;
    border: 2px dotted navy;
    color: #000080;
    border-radius: 6px;
    background-color: #4286f4;

}

button:hover {
    width: 62px;
    height: 27px;
    border: 2px dotted navy;
    color: #000080;
    border-radius: 6px;
    background-color: #0286f4;
}
