* {
  box-sizing: border-box;
}
        
body {
    margin: 0;
    padding: 0;
    background-size: cover;
    color: #212121;
	background: #0f2439;
    overflow-x: hidden;
	font-family: Helvetica, Arial;
}

.main {
	margin-inline: 5vw;
}

div.container {
    margin-top: 10px;
	margin-bottom: 10px;
	background: rgba(206,212,218,0.65);
    padding: 0;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

p {
	padding-left: 10px;
	font-family: Helvetica;
}

a {
    font-family: Helvetica;
	color: #212121;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	margin: 0.25em;
	padding: 0.5em;
	text-align: center;
	font-family: Candara, Helvetica, Arial;
	font-size: 30pt;
	color: #d0d5da;
}

h2 {
	text-align: left;
	padding-left: 10px;
	font-family: Candara, Helvetica, Arial;
	color: black;
}
	
h3{
	text-align: left;
	padding-left: 10px;
	font-size: 20;
	font-family: Helvetica, Arial;
}

/* Adjust for desktop */
	a.back#desktop {
		display: none;
		color: #212121;
		padding: 10px;
	}

	a.back#mobile {
		padding: 10px;
		display: block;
		color: #4f5f6f;
		position: absolute;
		top: 0;
	}
	
	@media screen and (min-width: 767px) {
		.main { margin-inline: 10vw; }
		a.back#desktop { display: block; }
		a.back#mobile { display: none; }
		h1 { margin: 0.5em; }
		article { margin: 10px; }
		div.container { padding: 10px; }
	}

article {
	padding: 3px;
	margin-bottom: 10px;
	border-width: medium;
	border-color: White;
	border-radius: 7px;
	border-style: solid;
}

div.inner {
	display: inline-grid;
	grid-template-columns: 1.7fr 0.2fr;
	background: rgba(255,255,255,0.6);
	border-radius: 3px;
}

section.text {
	padding: 10px;
}

section.text h2 {
	color: #525456;
}

section.text h3, p {
	color: #686a6d;
}

section.image {
	display: flex;
	padding: 10px;
	align-items: center;
	justify-content: center;
	grid-row-start: 2;
	grid-column-start: 1;
	grid-column-end: 3;
}

section.image img {
	width: 75vw;
}

/* Adjust chart and text based on device size */
	#a {
		display: none;
	}
	
	#b {
		display: block;
		grid-column-start: 1;
		grid-column-end: 3;
	}
	
	#c {
		grid-column-start: 1;
		grid-column-end: 3;
	}

	@media screen and (min-width: 767px) {
		.image img { width: 70vw; }
	}

	@media screen and (min-width: 900px) {
		.image img { width: 60vw; }
	}

	@media screen and (min-width: 1200px) {
		#a { display: block; }
		#b { display: none; }
		#c { grid-column-start: 1; grid-column-end: 2; }
		section.image { grid-row-start: 1; grid-column-start: 2; }
		section.image img { width: 35vw; }
	}

footer {
    font-size:1rem;
	background: rgba(222,216,216,0.65);
	padding: 1px;
	margin-top: 10px;
	text-align: center;
	border-radius: 10px;
}

button {
    width: 60px;
    height: 25px;
    border: 2px dotted navy;
    color: #000080;
    border-radius: 6px;
    background-color: #4286f4;

}

button:hover {
    width: 62px;
    height: 27px;
    border: 2px dotted navy;
    color: #000080;
    border-radius: 6px;
    background-color: #0286f4;
}
